
.container {
    max-width: 800px;
    margin: 10px;
}

/* Estilos para los perfiles */
.profile {
    display: flex;
    margin-bottom: 20px;
}

.profile-image {
    margin-right: 20px;
    width: 180px; /* Ancho de la imagen de perfil */
    height: 180px; /* Altura de la imagen de perfil */
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%; /* Hace que la imagen sea redonda */
}

.profile-info {
    flex-grow: 1;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .profile {
        flex-direction: column;
    }

    .profile-image {
        margin-right: 0;
        margin-bottom: 10px;
}
.profile{
    text-align: center;
}}